{% extends 'base.html' %}

{% load static %}

{% block page_content %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">


<body>
    <main>
        <div class="banner">
            <img class="banner-image" src="{% static 'home/img/banner.png' %}" alt="Banner">
            <h1 class="banner-slogan">Monte seu PC agora mesmo</h1>
            <p class="banner-paragraph">Escolhas as peças ideais e tenha desempenho máximo com os melhores preços e
                garantia de compatibilidade.</p>
            <a class="btn_Pc" href="#">
                <span>MONTE SEU PC</span>
                <img class="arrow" src="{% static 'home/img/arrow-right-circle.svg' %}" alt="setinha">
            </a>
        </div>

        <div class="components-wrapper">
            <a class="components-title" href="#">
                CATEGORIAS
                <img class="arrow" src="{% static 'home/img/arrow-right-circle.svg' %}" alt="setinha">
            </a>

            <button class="scroll-btn left" data-target="components-scroll">
                <img class="arrow" src="{% static 'home/img/arrow-left-circle.svg' %}" alt="setinha">
            </button>

            <div class="components" id="components-scroll">
                {% for categoria in categorias %}
                <a class="categoria" href="#">
                    <img src="{{ categoria.img }}" alt="{{ categoria.nome }}">
                    <p class="categoria_text">{{ categoria.nome }}</p>
                </a>
                {% endfor %}
            </div>

            <button class="scroll-btn right" data-target="components-scroll">
                <img class="arrow" src="{% static 'home/img/arrow-right-circle.svg' %}" alt="setinha">
            </button>
        </div>

        <section class="produtos-wrapper">
            <a class="section-title" href="#">
                NOVAS PROMOÇÕES
            </a>

            <button class="scroll-btn left" data-target="novas-scroll">
                <img class="arrow" src="{% static 'home/img/arrow-left-circle.svg' %}" alt="setinha">
            </button>

            <div class="section" id="novas-scroll">
                {% for produto in produtos_novos %}
                <div class="produto">
                    <a class="produto-details" href="#">
                        {% if produto.imagem %}
                        <img class="image-produto" src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                        {% else %}
                        <img class="image-produto" src="https://placehold.co/600x400" alt="Sem imagem">
                        {% endif %}

                        <p class="nome-produto">{{ produto.nome }}</p>
                        <p class="preco-normal">{{ produto.preco_normal_formatado }}</p>
                        <p class="preco-desconto">{{ produto.preco_desconto_formatado }}</p>
                    </a>
                    <a class="btn-redirecionar" href="{% url 'detail' produto.pk %}">
                        <i class="fas fa-shopping-cart text-light"></i>
                        REDIRECIONAR
                    </a>
                </div>
                {% endfor %}
            </div>

            <button class="scroll-btn right" data-target="novas-scroll">
                <img class="arrow" src="{% static 'home/img/arrow-right-circle.svg' %}" alt="setinha">
            </button>
        </section>

        <section class="produtos-wrapper">
            <a class="section-title" href="#">
                MAIS ACESSADOS
            </a>

            <button class="scroll-btn left" data-target="mais_acessados-scroll">
                <img class="arrow" src="{% static 'home/img/arrow-left-circle.svg' %}" alt="setinha">
            </button>

            <div class="section" id="mais_acessados-scroll">
                {% for produto in produtos_random %}
                <div class="produto">
                    <a class="produto-details" href="#">
                        {% if produto.imagem %}
                        <img class="image-produto" src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                        {% else %}
                        <img class="image-produto" src="https://placehold.co/600x400" alt="Sem imagem">
                        {% endif %}

                        <p class="nome-produto">{{ produto.nome }}</p>
                        <p class="preco-normal">{{ produto.preco_normal_formatado }}</p>
                        <p class="preco-desconto">{{ produto.preco_desconto_formatado }}</p>
                    </a>
                    <a class="btn-redirecionar" href="{% url 'detail' produto.pk %}">
                        <i class="fas fa-shopping-cart text-light"></i>
                        REDIRECIONAR
                    </a>
                </div>
                {% endfor %}
            </div>

            <button class="scroll-btn right" data-target="mais_acessados-scroll">
                <img class="arrow" src="{% static 'home/img/arrow-right-circle.svg' %}" alt="setinha">
            </button>
        </section>

        <section class="produtos-wrapper">
            <a class="section-title" href="#">
                PATROCINADOS
            </a>

            <button class="scroll-btn left" data-target="patrocinados-scroll">
                <img class="arrow" src="{% static 'home/img/arrow-left-circle.svg' %}" alt="setinha">
            </button>

            <div class="section" id="patrocinados-scroll">
                {% for produto in produtos_random %}
                <div class="produto">
                    <a class="produto-details" href="#">
                        {% if produto.imagem %}
                        <img class="image-produto" src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                        {% else %}
                        <img class="image-produto" src="https://placehold.co/600x400" alt="Sem imagem">
                        {% endif %}

                        <p class="nome-produto">{{ produto.nome }}</p>
                        <p class="preco-normal">{{ produto.preco_normal_formatado }}</p>
                        <p class="preco-desconto">{{ produto.preco_desconto_formatado }}</p>
                    </a>
                    <a class="btn-redirecionar" href="{% url 'detail' produto.pk %}">
                        <i class="fas fa-shopping-cart text-light"></i>
                        REDIRECIONAR
                    </a>
                </div>
                {% endfor %}
            </div>

            <button class="scroll-btn right" data-target="patrocinados-scroll">
                <img class="arrow" src="{% static 'home/img/arrow-right-circle.svg' %}" alt="setinha">
            </button>
        </section>

        <section class="produtos-wrapper">
            <a class="section-title" href="#">
                PC GAMERS
            </a>

            <button class="scroll-btn left" data-target="pcgamer-scroll">
                <img class="arrow" src="{% static 'home/img/arrow-left-circle.svg' %}" alt="setinha">
            </button>
            <div class="section" id="pcgamer-scroll">
                {% for produto in modelos_pc %}
                <div class="produto">
                    <a class="produto-details" href="#">
                        {% if produto.imagem %}
                        <img class="image-produto" src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                        {% else %}
                        <img class="image-produto" src="https://placehold.co/600x400" alt="Sem imagem">
                        {% endif %}

                        <p class="nome-produto">{{ produto.nome }}</p>
                        <p class="preco-normal">{{ produto.preco_normal_formatado }}</p>
                        <p class="preco-desconto">{{ produto.preco_desconto_formatado }}</p>
                    </a>
                    <a class="btn-redirecionar" href="{% url 'detail' produto.pk %}">
                        <i class="fas fa-shopping-cart text-light"></i>
                        REDIRECIONAR
                    </a>
                </div>
                {% endfor %}
            </div>

            <button class="scroll-btn right" data-target="pcgamer-scroll">
                <img class="arrow" src="{% static 'home/img/arrow-right-circle.svg' %}" alt="setinha">
            </button>
        </section>


    </main>
    <script>
        document.querySelectorAll('.scroll-btn').forEach(btn => {
            btn.addEventListener('click', function () {
                const targetId = btn.getAttribute('data-target');
                const scrollContainer = document.getElementById(targetId);
                if (!scrollContainer) return;
                const direction = btn.classList.contains('left') ? -200 : 200;
                scrollContainer.scrollBy({
                    left: direction,
                    behavior: "smooth"
                });
            });
        });
    </script>
</body>
{% endblock page_content %}